<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Products {% endblock %}</title>
</head>
<body>

<nav>
    <a href="{% url 'product_list' %}">Product List</a><br>
    <a href="{% url 'product_create' %}">Create Product</a><br>
    <a href="{% url 'dashboard' %}">Dashboard</a><br>
    <a href="{% url 'low_stock' %}">Low Stock Items</a><br>

    <div>
       {% if user.is_authenticated %}
       <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button type="submit">Logout</button>
            </form>
        {% else %}
            <a href="{% url 'login' %}">Login</a><br>
            <a href="{% url 'register' %}">Register</a>
        {% endif %}
        </div>
</nav>
<hr>
{% block content %}
{% endblock %}

</body>
</html>